:root {
    --light-green: #bde4d6;
    --dark-green: #183027;
    --bright-orange: #DEA300;
}

body {
    box-sizing: border-box;
    background-color: var(--dark-green);
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
} 


/* NAVBAR */

nav {
    background-color: var(--dark-green);
}

.nav-link {
    color: var(--bright-orange)!important;
    font-weight: 600;
}

.nav-link:hover {
    border-bottom: 0.5px solid var(--bright-orange);
    font-weight: 700;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(222, 163, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.logo {
    height: auto;
    width: auto;
    max-height: 50px;
}

.dropdown-menu {
    background-color: var(--dark-green);
}

.dropdown-item {
    color: var(--bright-orange);
}


/* LANDING PAGE IMAGES / NAME OF FOUNDATION AND FOUNDERS */


 .flex-container {
    background-color: var(--bright-orange);
    border: 4px solid #fff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    width: fit-content;
    padding: 2rem 1rem;
} 

.title {
    color: var(--dark-green);
    margin-top: 2rem;
}

.name {
    color: var(--dark-green);
}

 .flex-images {
    height: fit-content;
    width: 100%;
    padding-bottom: 1.5rem;
}

 @media (max-width: 1199.98px) { 
    .first-image {
        display:none;
    } 
  }

  @media (max-width: 767.98px) { 
    .flex-images {
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
   }

.flex-images > * {
    max-height: 450px;
    max-width: 350px;
}

.first-image,
.second-image,
.third-image {
    border-radius: 10%;
}

.second-image {
    margin-left: -4rem; 
}

.second-image,
.third-image {
    margin-top: 3rem;
}

@media (max-width: 1200px) {
    .first-image,
    .second-image,
    .third-image {
        margin: 0;
    }
}

.jumbotron {
    background-color: var(--dark-green);
}

.jumbotron > p {
    color: var(--bright-orange);
    font-weight: 600;
    word-spacing: 1px;
}

.index-about-us-btn {
    color: var(--dark-green);
    background-color: var(--bright-orange);
}

.index-about-us-btn:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* --------- ABOUT US PAGE STYLING ---------- */

/* -- ABOUT US PAGE */

.about-us-info,
.about-us-title {
    padding: 1rem 3rem;
}

.about-us-page>h2,
p {
    color: #fff;
}

.about-us-title {
    border-bottom: 2px solid #fff;
    width: fit-content;
}

.main-about-us-image {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid var(--bright-orange);
}

.social-welfare > h4 {
    color: var(--bright-orange);
}

.fa-caret-down {
    color: var(--bright-orange);
}

h5 {
    color: var(--bright-orange);
    font-size: medium;
}


.hospitality-apartments > h4,
.warehousing > h4,
.agriculture > h4,
.art-culture > h4 {
    color: var(--bright-orange);
    padding-top: 2rem;
    border-top: 1px solid var(--bright-orange);
}

.OHF-q-and-a {
    padding: 3rem;
}

.q-and-a {
    border: 2px solid var(--bright-orange);
    padding: 2rem;
}

.fa-search {
    font-size: 7.5rem;
    color: var(--bright-orange);
}


/* ----- Iframe VIDEO styling ---- */

iframe {
    margin-left: auto;
    margin-right: auto;
    width: 57vw;
    height: 52vh;
    display: block;
    margin-bottom: 2rem;
}

@media (max-width: 991.98px) { 
    iframe {
        margin-left: auto;
        margin-right: auto;
        width: 85vw;
        height: 60vh;
        display: block;
    }
 }


/* ----- GALLERY SECTION ---- */

.gallery-section {
    max-width: 90%;
    height: 100%;
    background-color: #fff;
    padding-top: 2rem;
    border-radius: 5%;
}

.gallery-section > h2 {
    color: var(--dark-green);
    padding-bottom: 1rem;
}

.image > img {
    width: 18vw;
    height:22vh; 
    object-fit: cover;
    border: 2px solid var(--bright-orange);
    cursor: pointer;
    margin-bottom: 1rem;
}

@media (max-width: 575px) {
    .image > img {
        width: 70vw;
        height: 35vh;
    }
}


.image > img:hover {
    opacity: 0.8;
}
  


/* --- MoBWIH PAGE STYLING */

.mobwih-header {
    color: var(--bright-orange);
    padding: 2rem 0 1rem;
}

.mobwih-img-1,
.mobwih-img-2 {
    max-height: 44vh;
    object-fit: cover;
    padding-bottom: 1rem;
}

.mobwih-img-1 {
    max-width: 70vw;
}

.mobwih-img-2 {
    max-width: 60vw;
}



/* ----- PRESS PAGE SECTION ---- */

.press-page > h2 {
    color: var(--bright-orange);
}

.press-pg-img {
    width: 90%;
    height: 15vw;
    object-fit: cover;
    border: 2px solid var(--bright-orange);
}

@media (max-width: 767.98px) { 
    .press-pg-img {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
 }

 @media (max-width: 575.98px) { 
    .press-pg-img {
        width: 90%;
        height: 35vw;
        object-fit: cover;
    }
  }



.press-page-button {
    color: var(--bright-orange);
}

.press-page-button:hover {
    color: var(--light-green);
}

.card-text {
    padding-top: 1rem;
}


/* -- CONTACT FORM -- */

.contact-form-header {
    padding: 1rem 0;
    color: var(--bright-orange);
}