:root {
    --light-green: #429e79;
    --dark-green: #0C1D16;
}

body {
/*     background-color: var(--light-green);*/
    box-sizing: border-box;
} 


/* NAVBAR */

nav {
    background-color: #fff;
}

.logo {
    height: auto;
    width: auto;
    max-height: 50px;
}

/* LANDING PAGE IMAGES / NAME OF FOUNDATION AND FOUNDERS */

.flex-container {
    background-color: blue;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}


.flex-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 65vh;
    width: fit-content;
    background-color: red;
}

@media (min-width: 1399.98px) { 
    .flex-images {
        height: 55vh;
    }
 } 

 @media (max-width: 1199.98px) { 
    .flex-images>*:nth-child(1) {
        display:none;
    } 

    .flex-images>*:nth-child(2),
    .flex-images>*:nth-child(3){
        align-self: center!important;
    }
  }


.flex-images > * {
    max-height: 450px;
    max-width: 350px;
    box-sizing: border-box;

}

.flex-images>*:nth-child(1) {
    justify-content: flex-start;
    align-self: flex-start;
}

.flex-images>*:nth-child(2),
.flex-images>*:nth-child(3) {
    justify-content: center;
    align-self: flex-end;
}

