:root {
    --light-green: #bde4d6;
    --bright-orange: #DEA300;
    
    /*  NEW COLOURS */

    --green-shade: #2c7335;
}

body {
    box-sizing: border-box;
    background-color: var(--dark-green);
    max-width: 100vw;
    overflow-x: hidden;
    height: 100%;
} 


/* NAVBAR */

.navbar {
    padding: 0 1rem;
}

nav {
    background-color: var(--green-shade);
}

.nav-link {
    color: #fff!important;
    font-weight: 600;
}

.nav-link:hover {
    font-weight: 700;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(222, 163, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.logo {
    height: auto;
    width: auto;
    max-height: 70px;
    background-color: #fff;
    position: absolute;
    top: 0%;
    left: 1%;
    padding: 0 1rem;
    z-index: 999!important;
}

.dropdown-menu {
    background-color: var(--green-shade);
}

.dropdown-item {
    color: #fff;
}


/* LANDING PAGE IMAGES / NAME OF FOUNDATION AND FOUNDERS */

#home {
    position: relative; /* so we can place text over img */
}

.home-pg-img {
    width:-webkit-fill-available;
}

.names-and-OHF {
    background-color:var(--green-shade);
    border: 1px solid purple;
    position: absolute;
    bottom: 3rem;
    color: #fff;
}


.title {
    color: var(--dark-green);
    margin-top: 2rem;
}


 .flex-images {
    height: fit-content;
    width: 100%;
    padding-bottom: 1.5rem;
}

 @media (max-width: 1199.98px) { 
    .first-image {
        display:none;
    } 
  }

  @media (max-width: 767.98px) { 
    .flex-images {
        flex-direction: column;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
   }

.flex-images > * {
    max-height: 450px;
    max-width: 350px;
}

.first-image,
.second-image,
.third-image {
    border-radius: 10%;
}

.second-image {
    margin-left: -4rem; 
}

.second-image,
.third-image {
    margin-top: 3rem;
}

@media (max-width: 1200px) {
    .first-image,
    .second-image,
    .third-image {
        margin: 0;
    }
}

.jumbotron {
    background-color: var(--dark-green);
}

.jumbotron > p {
    color: var(--bright-orange);
    font-weight: 600;
    word-spacing: 1px;
}

.index-about-us-btn {
    color: var(--dark-green);
    background-color: var(--bright-orange);
}

.index-about-us-btn:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* --------- ABOUT US PAGE STYLING ---------- */

/* -- ABOUT US PAGE -- OHF OPTION SPECIFIC */

.about-us-info,
.about-us-title {
    padding: 1rem 3rem;
}

.about-us-page>h2,
p {
    color: #fff;
}

.about-us-title {
    border-bottom: 2px solid #fff;
    width: fit-content;
}

.main-about-us-image {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid var(--bright-orange);
}

.social-welfare > h4 {
    color: var(--bright-orange);
}

.fa-caret-down {
    color: var(--bright-orange);
}

h5 {
    color: var(--bright-orange);
    font-size: medium;
}


.hospitality-apartments > h4,
.warehousing > h4,
.agriculture > h4,
.art-culture > h4 {
    color: var(--bright-orange);
    padding-top: 2rem;
    border-top: 1px solid var(--bright-orange);
}

.OHF-q-and-a {
    padding: 3rem;
}

.q-and-a {
    border: 2px solid var(--bright-orange);
    padding: 2rem;
}

.fa-search {
    font-size: 7.5rem;
    color: var(--bright-orange);
}


/* ----- Iframe VIDEO styling ---- */

iframe {
    margin-left: auto;
    margin-right: auto;
    width: 54vw;
    height: 57vh;
    display: block;
    margin-bottom: 2rem;
}

@media (max-width: 991.98px) { 
    iframe {
        margin-left: auto;
        margin-right: auto;
        width: 85vw;
        height: 60vh;
        display: block;
    }
 }


/* ----- GALLERY SECTION ---- */

.gallery-section {
    max-width: 90%;
    height: 100%;
    background-color: #fff;
    padding-top: 2rem;
    border-radius: 5%;
}

.gallery-section > h2 {
    color: var(--dark-green);
    padding-bottom: 1rem;
}

.image > img {
    width: 18vw;
    height:22vh; 
    object-fit: cover;
    border: 2px solid var(--bright-orange);
    cursor: pointer;
    margin-bottom: 1rem;
}

@media (max-width: 575px) {
    .image > img {
        width: 70vw;
        height: 35vh;
    }
}


.image > img:hover {
    opacity: 0.8;
}

/* ---- FOUNDER SECTION (ABOUT US) STYLING --- */

/* ---- .founder-header styling done alongside the .patreon-header (same code 
applies to both headers so it is styled below under the Grand patreon styling section --- */


.founder-img {
    border-radius: 25%;
    max-width: 35%;
    max-height: 35%;
    display: inline;
    float: left;
    padding-right: 15px;
}

.founder-img-2 {
    max-width: 35%;
    max-height: 35%;
    display: inline;
    float: right;
}


@media (max-width: 767.98px) { 
    .founder-img {
        display: block!important;
        max-width: 100%;
        padding-bottom: 5px;
    }

    .founder-header {
        text-align: center;
    }

 }

/* ----NOTE** styling directly below targets headers of multiple pages
and is not restricted to 1 page  --- */

.patreon-header,
.founder-header,
.partner-header {
    color: var(--bright-orange);
    margin-bottom: 1rem;
}
/* ---- GRAND PATREON SECTION (ABOUT US) STYLING --- */


.patreon-img {
    border-radius: 30%;
    max-width: 85%;
    max-height: 85%;
    border: 2px solid var(--bright-orange);
}

/* ---- TRUSTEES SECTION (ABOUT US) STYLING --- */

.trustees-header {
    text-align: center;
    color: var(--bright-orange);  
    padding-bottom: 2rem;  
    display: block;
    width: 100vw;
}

.trustee-names {
    padding-right: 1rem;
    padding-left: 0;
    font-size: 16px;
    text-align: center;
}

.trustee-imgs {
    max-width: 100%;
    height: 250px;
}

.individual-trustee-container {
    margin: 5px;
    padding-bottom: 10px;
}

#yewandeInfo {
    display: none;
    color: yellow;

    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#yewandeInfo > p {
    text-align: center;
    background-color: black;
    max-width: 60%;
    max-height: 80%;
    height: fit-content;
    opacity: 0.7;
    
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.closeInfoBtn {
    font-size: 5rem;
    color: var(--bright-orange);
}

/* ----  Button which says 'info' and is found at the end of each trustee name */

.trustee-info-btn {
    padding: 0.06rem 0.5rem;
}

.trustee-info-btn:hover {
    border: 2px solid var(--bright-orange);
}


/* ---- PARTNERS SECTION (ABOUT US) STYLING --- */

.partner-img-bonnie,
.partner-img-taj {
    border-radius: 25%;
    border: 2px solid var(--bright-orange);
}

.partners-pg-separator {
    background-color: var(--bright-orange);
    margin: 1rem 0;
}

.partner-img-taj {
    width: 100%;
    height: 100%;
}


/* --- MoBWIH PAGE STYLING */

.mobwih-main-container {
    height: 400px;
    max-height: fit-content;
}

.mobwih-header {
    color: var(--bright-orange);
    padding: 2rem 0 1rem;
}

.mobwih-img-1 {
    width: 100%;
    object-fit: fill;
    max-height: 80%;
    border: 2px solid var(--bright-orange);
}

.mobwih-img-2 {
    width: 90%;
    max-height: 80%;
    object-fit: cover;
    border: 2px solid var(--bright-orange);
}

@media (max-width: 575.98px) { 
    .mobwih-img-2 {
        display: none;
    }
 }

.mobwih-museum-logo {
    border-radius: 25%;
    max-width: 30%;
    max-height: 30%;
    display: inline;
    float: right;
    padding-top: 5px;
}

@media (max-width: 767.98px) { 
    .mobwih-museum-logo {
        display: block!important;
        max-width: 100%;
        padding: 10px 0;
    }
 }



/* ----- PRESS PAGE SECTION ---- */

.press-page > h2 {
    color: var(--bright-orange);
}

.press-pg-img {
    width: 90%;
    height: 15vw;
    object-fit: cover;
    border: 2px solid var(--bright-orange);
}

@media (max-width: 767.98px) { 
    .press-pg-img {
        width: 100%;
        height: 25vw;
        object-fit: cover;
    }
 }

 @media (max-width: 575.98px) { 
    .press-pg-img {
        width: 90%;
        height: 35vw;
        object-fit: cover;
    }
  }



.press-page-button {
    color: var(--bright-orange);
}

.press-page-button:hover {
    color: var(--light-green);
}

.card-text {
    padding-top: 1rem;
}


/* -- CONTACT FORM -- */

.contact-form-header {
    padding: 1rem 0;
    color: var(--bright-orange);
}

.address-details {
    text-align: center;
}

.address-header {
    color: var(--bright-orange);
}

@media (max-width: 576px) { 
    .address-details {
        border: 2px solid var(--bright-orange);
        padding: 2px 10px;
    }
 }

 .contact-details {
    color: var(--bright-orange);
    text-decoration: none;
 }
 
 .contact-details:hover {
     font-weight: 700;
     color: var(--bright-orange);
}